*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to right,#040491, #4c1bfc );
}


/*------------ header -------------*/

header{
    position: sticky;
    top: 0;
    height: 80px;
    background-color: navy;
}

#logo{
    position: relative;
    top: 7px;
    left: 10%;
}
#logo a{
    color: white;
    margin: 20px;
    text-decoration: none;
}
#nav-items {
    display: flex;
    float: right;
    margin-right: 100px;
    line-height: 50px;
}
.nav-item {
    margin-left: 80px;
    line-height: 80px;
    list-style: none;
}
.nav-item :hover {
    color: #c3c3ff;
}
nav  li  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
} 
nav img{
    width: 50px;
}
ion-icon {
    font-size: 30px;
    color: white;
    margin: 25px 0 0 0;
}
#nav-icon{
    display: none;
}

/*------------ Main Header -------------*/

section{
    width: 80%;
    background-color: #f1f1f1;
    margin: 0 auto;
    margin-top: 50px;
}
.players-title, .blog-title, .course-title{
    font-size: 20px;
    color: #040491;
    padding: 15px;
}
.players img{
    width: 80px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-self: start;
}
.player img{
    margin: 0 30px;
}

/*------------ blog section -------------*/

.blog-section{
    margin-top: 30px;
    border-top: 1px solid #b4b4b4;
}

.blog-img img, .corse-img img{
    width: 90%;
    margin: 10px 0;
}
.blog-data{
    width: 100%;
}
.blog-article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.blog{
    margin: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*------------ courses section -------------*/

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.course{
    margin: 30px 10px;
}
.course-data h3{
    padding: 0 0 10px 0;
}

/*------------ Responsive -------------*/

@media (max-width: 920px) {
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-article{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-item{
        display: none;
    }
    #nav-icon {
        display: block;
    }
    #nav-items {
        display: block;
    }
  }

@media (max-width: 600px) {
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
  }